<!DOCTYPE html>
<html ng-app="listaTarefasApp" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="lista-tarefas.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="mx-auto mt-5 jumbotron" style="width: 500px;">
        <h2 class="font-weight-bold">Lista de Tarefas</h2>
        <div ng-controller="listaTarefasController as vm">
            <div class="mb-2">
                Restam {{vm.restam()}} de {{vm.tarefas.length}}
                [ <a href="" ng-click="vm.arquivar()">arquivar</a> ]
            </div>
            <ul class="unstyled">
                <li ng-repeat="trf in vm.tarefas">
                  <label class="checkbox">
                        <input type="checkbox" ng-model="trf.feito">
                        <span class="done-{{trf.feito}}">{{trf.text}}</span>
                  </label>
                </li>
            </ul>
            <form class="form-inline" ng-submit="vm.addTarefa()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.tarefaText" placeholder="add nova tarefa aqui">
                    <input type="submit" class="btn btn-primary nl-2" value="+">
                </div>
            </form>
        </div>
    </div>
</body>
</html>